[submodule "fc/piface"]
	path = fc/piface
	url = git://github.com/piface/pifacedigitalio.git
[submodule "piface"]
	path = piface
	url = git://github.com/piface/pifacedigitalio.git
[submodule "pifacecad"]
	path = pifacecad
	url = https://github.com/piface/pifacecad.git
[submodule "tdiLoadbank"]
	path = tdiLoadbank
	url = git://github.com/FuelCellUAV/tdiLoadbank.git
